.navbar{
    background: -webkit-linear-gradient(left, #7579ff, #b224ef);
      a{
        color: #ffffff;
        font-weight: 600;
        font-family: sans-serif;
    }
    .btn{
        padding: 5px 10px;
        background-color:#ffffff;
        color: #9a02ac;
        transition: background-color 3s ease;
       
    }
}