.userList{
    .ant-btn{
        margin-left: 5px;
        a, span{
            display: flex;
            justify-content: center;
        }
    }
    .ant-list-item-meta-content{
      position: relative;
        .ant-list-item-meta-title{
          padding-left: 5px;
        }
    }
    .ant-list-item-meta-content::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background: #d5caca;
        right: 0px;
    }
   
}
