.viewContactUser{
    .ant-modal-body{
        padding: 15px;
    }
   div{
       border-bottom: 1px solid #d3d3dd;        
       padding: 5px 10px 5px 10px;
       span{
           font-size: 14px;
           font-family: inherit;
           font-weight: 500;
       }
       h6{
           font-weight: 400;
           padding: 1px 10px;
       }

   }
}